name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    env:
      SESSION_ID: ğ™°ğš‚ğ™¸ğšƒğ™·ğ™°-ğ™¼ğ™³=DyAF3LIB#4FPHvnH4LZ00ZdujU7p-AYdFD7MUTVBK5VcBH4Rr9BM
      GITHUB_AUTH_TOKEN: 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
      GITHUB_USERNAME : Daham1234

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Start application
      run: npm start
